body {
  color:black;
}

.container {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  background-color: blueviolet !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(189, 22, 22, 0.801);
  overflow: auto;
  width: 100%;
  height: 100%
}

.intro {
  background-image: url("//css/images/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center center center;
  padding-bottom: 300px;
}

h1 {
  font-weight: bolder;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  padding-top: 10px;
  color:brown;
  text-shadow: 0 0 10px black;
}

.greatnav {
  padding-top: 20px;
  text-align: right;
  text-decoration: none;
  right: 0;
  left: 0;
  z-index: 3;
}

li {
  list-style-type: none;
  display: inline-block;
}

li>a {
  text-decoration: none;
  padding: 15px;
  margin: 0;
  display: block;
  text-transform: uppercase;
  color:blue;
  text-shadow: 0 0 10px black;
}

a:hover {
  box-shadow: 0 0 10px black;
  color:brown;
  text-decoration: none;
}

.logo {
  padding-top: 100px;
}

#log1 {
  border-radius:10%;
}

#state {
  font-weight: bolder;
  font-style: italic;
  font-family: cursive;
  text-shadow: 0 0 10px black;
}

.branch,
.histo,
.award {
  text-shadow: 0 0 2px brown;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

#img1,
#img4 {
  border-radius: 50%;
}

.rest {
  padding-top: 30px;
}

#img5,
#img6,
#img7,
#pic1,
#pic2,
#pic3 {
  border: hidden;
  box-shadow: 0 0 10px black;
}

footer {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  margin: 10px 10px 10px 10px;
}

#img8,
#img9,
#img10 {
  padding-bottom: 20px;
}

.picha {
  text-align: center;
}

textarea {
  resize: none;
}

form {
  text-align: center;
}

button {
  color: grey !important;
}

.jaza {
  display: none;
}

.pass {
  padding-bottom: 40px;
}

#piz1,
#piz2,
#piz3,
#piz4,
#piz5,
#piz6 {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}

.clap {
  background-image: url("//css/images/chef-black-uniform-sprinkles-white-wheat-flour-table_116441-299.jpg?size=626&ext=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:blueviolet;
  padding-bottom: 250px;
  padding-left: 50px;
}

.menu {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  text-shadow: 0 0 2px rgba(17, 22, 97, 0.753);
}

#par1,
#par2,
#par3,
#par4,
#par5,
#par6 {
  padding-top: 25px;
  font-style: italic;
  color: black;
}

#pic1:hover,
#pic2:hover,
#pic3:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  width: 170px;
}

#img1:hover,
#img2:hover,
#img3:hover,
#img4:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  width: 170px;
}

.para,
.para1,
.para2,
.para3 {
  padding-top: 50px;
  display: none;
  font-style: italic;
  color:black;
}

.choice {
  padding-top: 30px;
}

.deliver {
  background-image: url("//css/images/9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 250px;
  padding-left: 50px;
}

#order1 {
  background-color: black !important;
  box-shadow: 0 0 10px black;
}

#order2 {
  background-color: purple !important;
  box-shadow: 0 0 10px black;
}

.order2 {
  text-align: center;
}

select {
  box-shadow: 0 0 10px black;
}

.over {
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 0 15px blueviolet;
}

h3 {
  text-align: center;
}

.pass {
  padding-top: 40px;
}

#piz1:hover,
#piz2:hover,
#piz3:hover,
#piz4:hover,
#piz5:hover,
#piz6:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}